<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Rubik Admin Control Panel', 'none')">
</head>
<body class="skin-red animate">
	
	<div th:replace="front_fragments :: side_bar"></div>

    <div class="content">
      	<div th:replace="front_fragments :: content_header"></div>
   		
		<div class="content-body mb-5">
		
			<div class="full-details m-5">
				<div class="row">
            		<div class="col-lg-12 grid-margin stretch-card">
              			<div class="card">
                			<div class="card-body">
                				<div class="row mb-4">
                					<div th:replace="fragments :: export_without_new('/customers', ${title})"></div>
                					<div th:replace="fragments :: search_form('/customers/page/1')"
                						class=""></div>
                				</div>
                  				
                  				<div class="row">             					
                  					<div class="col">
                  						<div th:replace="fragments :: message_alert"></div>
                  					</div>
                  				</div>
								
								<div class="row">
									<div class="col">
										<div class="table-responsive">
		                    				<table class="table table-hover table-responsive-xl table-striped">
		                    					<thead>
													<tr class="table-light">
														<!-- use fragment -->
														<th th:replace="fragments :: column_link('/customers', 'id', 'User ID')"
															class="col-1"/>
														
														<!-- use fragment -->
														<th th:replace="fragments :: column_link('/customers', 'email', 'Email')"
															class="col-2"/>
								
														<!-- use fragment -->
														<th th:replace="fragments :: column_link('/customers', 'firstName', 'First Name')"
															class="col-1"/>
								
														<!-- use fragment -->
														<th th:replace="fragments :: column_link('/customers', 'lastName', 'Last Name')"
															class="col-2"/>
								
														<!-- use fragment -->
														<th th:replace="fragments :: column_link('/customers', 'enabled', 'Enabled')"
															class="col-1"/>
								
														<th class="col-1"></th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="customer : ${listCustomers}" class="">
														<td class="font-weight-bold">[[${customer.id}]]</td>
											
														<td class="hideable-column">[[${customer.email}]]</td>
														
														<td class="">[[${customer.firstName}]]</td>
														
														<td class="">[[${customer.lastName}]]</td>												
														
														<td class="">
															<div th:replace="fragments :: status(${customer.enabled}, 'customer', '/customers/' + ${customer.id})"></div>
															
														</td>
														<td>
															<a class="fas fa-file-alt fa-2x icon-green link-detail"
																th:href="@{'/customers/detail/' + ${customer.id}}"
																title="View details of this customer">
															</a>
															<div th:replace="fragments :: edit_entity('customer', '/customers/edit/' + ${customer.id})"></div>
															&nbsp;
															<div th:replace="fragments :: delete_entity('customer', ${customer.id}, '/customers/delete/' + ${customer.id}, true)"></div>
														</td>
													</tr>
												</tbody>
		                    				</table>
		                    			</div>
									</div>
								</div>
                  				
                    		</div>
                    	</div>
                    </div>
				</div>
			</div>
			
			<div th:replace="fragments :: pagination('/customers', 'customers')"></div>
		
			<div th:replace="fragments :: confirm_modal"></div>
			
			
		</div><!-- content-body -->
		
		<div class="modal fade" id="detailModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
				</div>
			</div>
		</div>	
		
		
	</div><!-- content -->
	
	<div th:replace="front_fragments :: footer_final"></div>


    <div th:replace="front_fragments :: js_file"></div>
	
	<script th:src="@{/js/common_list.js}"></script>
	
	<script type="text/javascript">
		moduleURL = "[[@{/customers}]]";
	
		$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'customer');
			});
			
			$(".link-detail").on("click", function(e) {
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});		
		});
	</script>
</body>
</html>