<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments_front :: page_head('Error - Rubik Shop', 'none')">
</head>
</head>
<body class="animsition">

	<section th:fragment="product_customer" class="bg0 p-t-23 p-b-140">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Sorry, you don't have permission to access this page
				</h3>
			</div>
		</div>
	</section>
	
</body>
</html>