<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Categories - Rubik Shop')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments :: menu"></div>
		<div th:replace="fragments :: export('/categories', ${title})"></div>
		
		<div th:replace="fragments :: search_form('/categories/page/1')"></div>
		
		<div class="full-details">
			<table class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th th:replace="fragments :: column_link('/categories', 'id', 'ID')"/>
						
						<th>Category Image</th>
						
						<th th:replace="fragments :: column_link('/categories', 'name', 'Category Name')"/>
						
						<th th:replace="fragments :: column_link('/categories', 'alias', 'Alias')"/>
						
						<th>Enabled</th>
						
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="cat : ${listCategories}">
						<td>[[${cat.id}]]</td>
						<td>
							<img th:src="@{${cat.imagePath}}" class="w-25 h-25" style="max-width: 75px;"/>
						</td>
						<td>[[${cat.name}]]</td>
						<td>[[${cat.alias}]]</td>
						<td>
							<div th:replace="fragments :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})"></div>
						</td>
						<!--  
						<td>
							<div th:replace="fragments :: edit('category', '/categories/edit/' + ${cat.id})" />
							&nbsp; 
							<div th:replace="fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id}, ${!cat.hasChildren})" />						
						</td>	
						-->
						<td>
							<div th:replace="fragments :: category_action"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div th:if="${keyword != null}" class="text-center">
			<span>Result does not have in categories.</span>
			<div th:replace="fragments :: pagination('/categories', 'categories')"></div>
		</div>
		
		<th:block th:unless="${keyword != null}">
			<div th:replace="fragments :: pagination('/categories', 'top-level categories')"></div>
		</th:block>
		
		<div th:replace="fragments :: confirm_modal"></div>
		
		<div th:replace="fragments :: footer_frag"></div>
	</div>
	
	
	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]";
	
		$(document).ready(function() {
			$('.link-delete-user').on("click", function(e) {
				e.preventDefault();
				link = $(this);
				//alert($(this).attr("href"));
				userId = link.attr("userId");
				$('#yes-delete').attr("href", link.attr("href"));
				$('#confirmText').text("Are you sure that you want to delete user ID " +userId + "?");
				$('#confirmModal').modal();
				
			})
		});

		function clearFilter(){
			window.location = "[[@{/users}]]";
		}
	</script>
</body>
</html>