*.icon-white {color: white}
*.icon.silver {color: silver}
*.icon-green {color: green}
*.icon-dark {color: gray}
*.icon-red {color: #ff367c}

@media screen and (max-width: 768px){
	/* small screen */
	
	div.full-details {display: none};
}

@media screen and (min-width: 768px) and (max-width: 1024px){
	/* medium screen */
	
	div.full-details {display: block};
}

@media screen and (min-width: 1024px){
	/* large screen */
}

.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}