<div class="modal-header">
	<p class="modal-title h-3 font-weight-bold">Product Detail</p>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div class="modal-body">
	<!-- Nav tabs -->
	<div class="row">
		<div class="col d-flex justify-content-center">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
			    	<a class="nav-link active" data-toggle="tab" href="#overview" role="tab">Overview</a>
			 	</li>
				<li class="nav-item">
			    	<a class="nav-link" data-toggle="tab" href="#description" role="tab">Description</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#images" role="tab">Image</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#details" role="tab">Details</a>
				</li>
			</ul>
		</div>
	</div>
			
	<!-- Tab panes -->
	<div class="row">
		<div class="col">
			<div class="tab-content">
				<div class="tab-pane active p-4 mt-3" id="overview" role="tabpanel">
					<div class="row">
						
						<div class="col-1"></div>
						
						<div class="col-8">
							<div th:replace="products/product_description_readonly :: overview"></div>
						</div>
						
						<div class="col-3 d-flex align-items-end flex-column">
							<img class="img-fluid w-75 opacity-75 mt-auto"
								th:src="@{'/images/rubik/rubik_demo_2.jpg'}"/>
						</div>
					</div>
				</div>
				
				<div class="tab-pane mt-3" id="description" role="tabpanel">
					<div class="row">
						<div class="col-2"></div>
						
						<div class="col-8">
							<div th:replace="products/product_description_readonly :: description"></div>
						</div>
						
						<div class="col-2"></div>
					</div>
				</div>
					  	
				<div class="tab-pane mt-3" id="images" role="tabpanel">
					<div class="row">
						<div class="col-2"></div>
						
						<div class="col-8">
							<div th:replace="products/product_description_readonly :: images"></div>
						</div>
						
						<div class="col-2"></div>
					</div>
				</div>
				
				<div class="tab-pane p-3 mt-3" id="details" role="tabpanel">
					<div class="row">
						<div class="col-2"></div>
						
						<div class="col-8">
							<div th:replace="products/product_description_readonly :: details"></div>
						</div>
						
						<div class="col-2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>