<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Product Name:</label>
				
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="256"  
					th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"/>
			</div>	
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Alias:</label>
				
			<div class="col-sm-10">
				<input type="text" class="form-control" th:field="*{alias}" minlength="3" maxlength="256"
					placeholder="Default is product name"
					th:readonly="${#authorization.expression('hasAuthority(''Salesperson'')')}"/>
			</div>	
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Brand:</label>
			
			<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<div class="col-sm-10">
					<select th:field="*{brand}" class="form-control" required>
						<th:block th:each="brand : ${listBrands}">
							<option th:value="${brand.id}">[[${brand.name}]]</option>
						</th:block>
					</select>
				</div>	
			</th:block>
			
			<th:block sec:authorize="hasAnyAuthority('Salesperson')">
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${product.brand.name}" readonly>
				</div>	
			</th:block>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Category:</label>
			
			<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
				<div class="col-sm-10">
					<th:block th:if="${product.category != null}">
						<select th:field="*{category}" class="form-control" required>
							<th:block th:each="cat : ${product.brand.categories}">
								<option th:value="${cat.id}">
									[[${cat.name}]]
								</option>
							</th:block>
						</select>
					</th:block>
				
					<th:block th:if="${product.category == null}">
						<select th:field="*{category}" class="form-control" required>
		
						</select>
					</th:block>
					
				</div>	
			</th:block>
			
			<th:block sec:authorize="hasAnyAuthority('Salesperson')">
				<div class="col-sm-10">
					<input type="text" class="form-control" th:value="${product.category.name}" readonly>
				</div>
			</th:block>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Enabled:</label>
				
			<div class="col-sm-10">
				<input type="checkbox" th:field="*{enabled}"
					th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"/>
			</div>	
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">In Stock:</label>
				
			<div class="col-sm-10">
				<input type="checkbox" th:field="*{inStock}"
					th:disabled="${#authorization.expression('hasAuthority(''Salesperson'')')}"/>
			</div>	
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Cost:</label>
				
			<div class="col-sm-10">
				<input type="number" class="form-control" th:field="*{cost}"/>
			</div>	
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Price:</label>
				
			<div class="col-sm-10">
				<input type="number" class="form-control" th:field="*{price}"/>
			</div>	
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Discount percent:</label>
				
			<div class="col-sm-10">
				<input type="number" class="form-control" th:field="*{discountPercent}"/>
			</div>	
		</div>
		
	</div>
	
	
	<!-- Description -->
	
	<div th:fragment="description" th:remove="tag">
		<div class="m-3">
			<label>Short Description</label>
			<textarea class="form-control" th:field="*{shortDescription}" rows="5" required></textarea>
		</div>
		
		<div class="m-3">
			<label>Full Description</label>
			<textarea class="form-control" th:field="*{fullDescription}" rows="10" required></textarea>
		</div>
	</div>
	
	<!-- Images -->
	<div th:fragment="images" th:remove="tag">
		<div class="row" id="divProductImages">
			<div class="col border m-3 p-2">
				<div>
					<label>Main Image: [[${product.mainImage}]]</label>
				</div>
				
				<div class="m-2">
					<img id="thumbnail" alt="Main Image Preview" class="img-fluid"
						th:src="@{${product.mainImagePath}}"/>
				</div>
				
				<div>
					<input type="file" id="imageFile" name="fileImage" 
						th:required="${product.mainImage == null}"
						accept="image/png, image/jpeg, image/jpg"/>
				</div>
				
				<input type="hidden" th:field="*{mainImage}"/>
			</div>
			
			<th:block th:each="productImage, status : ${product.images}">
				<div class="col border m-3 p-2" th:id="'divExtraImage' + ${status.index}">
					<div>
						<label>Extra Image #[[${status.index + 1}]]: [[${productImage.name}]]</label>
						
						<a name="linkRemoveExtraImage" 
							class="btn fas fa-times-circle fa-2x icon-dark float-right"
							title="Remove this image">
						</a>
					</div>
					
					<div class="m-2">
						<img th:id="'extraThumbnail' + ${status.index}" 
							th:alt="'Extra image #' + ${status.index + 1} + ' preview'" 
							class="img-fluid"
							th:src="@{${productImage.imagePath}}"/>
					</div>
					
					<div>
						<input type="file" name="extraImage" 
							accept="image/png, image/jpeg, image/jpg"/>
					</div>
					<input type="hidden" name="imageIds" 
						th:id="'imageId' + ${status.index}"
						th:value="${productImage.id}"/>
					<input type="hidden" name="imageNames" 
						th:id="'imageName' + ${status.index}"
						th:value="${productImage.name}"/>
				</div>
			</th:block>
			
			<div class="col border m-3 p-2" th:id="'divExtraImage' + ${numberOfExistingExtraImages}">
				<div th:id="'extraImageHeader' + ${numberOfExistingExtraImages}">
					<label>Extra Image #[[${numberOfExistingExtraImages + 1}]]:</label>
				</div>
				<div class="m-2">
					<img th:id="'extraThumbnail' + ${numberOfExistingExtraImages}" 
						th:alt="'Extra image' + ${numberOfExistingExtraImages} + ' preview'" class="img-fluid"
						th:src="@{/images/image-thumbnail.png}"/>
				</div>
				<div>
					<input type="file" name="extraImage" 
						accept="image/png, image/jpeg" />
				</div>
			</div>
		</div>
	</div>
	
	<!-- Details -->
	<div th:fragment="details" id="divProductDetails">
		<th:block th:each="detail, status : ${product.details}">
			<div class="form-inline" th:id="'divDetail' + ${status.index}">
				<input type="hidden" name="detailIds" th:value="${detail.id}" />
				<label class="m-3">Name:</label>
				<input type="text" class="form-control w-25" name="detailNames" maxlength="255"
					th:value="${detail.name}" />
				<label class="m-3">Value:</label>
				<input type="text" class="form-control w-25" name="detailValues" maxlength="255"
					th:value="${detail.value}" />
				<a name="linkRemoveDetail" class="btn fas fa-times-circle fa-2x icon-dark"
					title="Remove this detail"></a>			
			</div>	
		</th:block>
	
		<div class="form-inline" th:id="'divDetail' + ${#lists.size(product.details)}">
			<input type="hidden" name="detailIds" value="0" />
			<label class="m-3">Name:</label>
			<input type="text" class="form-control w-25" name="detailNames" maxlength="255" />
			<label class="m-3">Value:</label>
			<input type="text" class="form-control w-25" name="detailValues" maxlength="255" />
		</div>	
	</div>
	
	<!-- Export -->
	<div th:fragment="export(moduleURL, title)">
		<h1>[[${title}]]</h1>
		<a th:href="@{${moduleURL} + '/new'}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
		&nbsp;|&nbsp;
		<a th:href="@{${moduleURL} + '/export/csv'}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		&nbsp;|&nbsp;
		<a th:href="@{${moduleURL} + '/export/excel'}" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>
		&nbsp;|&nbsp;
		<a th:href="@{${moduleURL} + '/export/pdf'}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
	</div>
</body>
</html>