<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Products - Rubik Admin', 'none')">
</head>
<body class="skin-red animate">
	<div th:replace="front_fragments :: side_bar"></div>

    <div class="content">
      	<div th:replace="front_fragments :: content_header"></div>
   		
		<div class="content-body mb-5">
			<div class="row mt-5">
				<div class="col-12 mr-auto">
					<form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
						<input type="hidden" name="sortField" th:value="${sortField}" />
						<input type="hidden" name="sortDir" th:value="${sortDir}" />
						
						Category:&nbsp;
						<select class="form-control" name="categoryId" id="dropdownCategory">
							<option value="0">All Categories</option>
							
							<th:block th:each="cat : ${listCategories}">
							<option th:value="${cat.id}" th:selected="(${categoryId} == ${cat.id})">[[${cat.name}]]</option>
							</th:block>
						</select>
						
						&nbsp;Filter:&nbsp;
						<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-primary">
							<i class="fas fa-search"></i>
						</button>
						&nbsp;&nbsp;
						<button type="button" class="btn btn-secondary" onclick="clearFilter()">
							<i class="fas fa-eraser"></i>
						</button>
					</form>
				</div>	
			</div>
			<div class="full-details mt-4 mb-4">
				<div class="row">
            		<div class="col-lg-12 grid-margin stretch-card">
              			<div class="card">
                			<div class="card-body">
                				<div class="row mb-4">
                					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
                						<div th:replace="fragments :: export('/products', ${title})"></div>
                					</th:block>
                					<th:block sec:authorize="hasAuthority('Assistant')">
                						<div th:replace="fragments :: export_without_new('/products', ${title})"></div>
                					</th:block>
                				</div>
                  				
								<div class="row">             					
                  					<div class="col">
                  						<div th:replace="fragments :: message_alert"></div>
                  					</div>
                  				</div>
                  				
                  				<div class="row">
                  					<div class="col">
                  						<div class="table-responsive">
		                    				<table class="table table-hover table-responsive-xl table-striped">
		                    					<thead>
													<tr class="table-light">
														<th th:replace="fragments :: column_link('/products', 'id', 'ID')"></th>
														<th>Main Image</th>
														<th th:replace="fragments :: column_link('/products', 'name', 'Product Name')"></th>
														<th>Category</th>
														<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
															<th>Enabled</th>
														</th:block>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="product : ${listProducts}">
						
														<td>[[${product.id}]]</td>
														
														<td th:replace="fragments :: column_link_image_brand(${product.getMainImagePath}, ${product.mainImage})"></td>
														
														<td>
															<a class="link-detail"
																th:href="@{'/products/detail/' + ${product.id}}"
																title="View detail of product">
																[[${product.name}]]
															</a>	
														</td>
														
														<td>[[${product.brand.name}]]</td>
														
														<td>[[${product.category.name}]]</td>
														
														<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
															<td>
																<div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})"></div>
															</td>
														</th:block>
									
														<td>
															<a class="fas fa-file-alt fa-2x icon-green link-detail"
																th:href="@{'/products/detail/' + ${product.id}}"
																title="View detail of product">
															</a>
															&nbsp;
															
															<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
																<div th:replace="fragments :: edit_entity('product', '/products/edit/' + ${product.id})"></div>
															</th:block>
															
															<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
																<div th:replace="fragments :: delete_entity('product', ${product.id}, '/products/delete/' + ${product.id}, true)"></div>	
															</th:block>			
														</td>					
													</tr>
												</tbody>
		                    				</table>
		                    			</div>
                  					</div>
                  				</div>
                    		</div>
                    	</div>
                    </div>
				</div>
			</div>
			
			<div th:replace="fragments :: confirm_modal"></div>
	
			<div class="modal fade" id="detailModal">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">
					</div>
				</div>
			</div>
			
			<div th:replace="fragments :: pagination('/products', 'products')"></div>
				
		</div><!-- content-body -->
		
		<div th:replace="front_fragments :: footer_final"></div>
	</div><!-- content -->


	<div th:replace="front_fragments :: js_file"></div>
		
	<script type="text/javascript">
	
		moduleURL = "[[@{/products}]]";
		
		$(document).ready(function() {
			$('.link-delete').on("click", function(e) {
				e.preventDefault();
				
				showDeleteConfirmModal($(this), 'product');
			});
	
			$(".link-detail").on("click", function(e){ 
				e.preventDefault();
				linkDetailURL = $(this).attr("href");
				$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
			});
	
			$("#dropdownCategory").on("change", function() {
				$("#searchForm").submit();
			});
		});
	
	</script>
</body>
</html>