<!DOCTYPE html>
<html lang="en"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments_front :: page_head('Rubik Front-End', 'none')">
</head>
<body class="animsition">
	
	<!-- Header -->
	<header th:replace="fragments_front :: header_customer"></header>

	<!-- Cart -->
	<div th:replace="fragments_front :: cart_customer"></div>
		
	<!-- Shoping Cart -->
	<form class="bg0 p-t-75 p-b-85 mt-3">
		<div class="container" style="min-height: 350px;">
			<div class="row">
				<div class="col">
					<h3><a th:href="@{/address/new}">Add more address</a></h3>
				</div>
				<div class="col"
					th:if="${message != nulll}">[[${message}]]</div>
			</div>
			<div class="row">
				<div class="col-6">
					<div class="card"
						th:classappend="${usePrimaryAddressAsDefault ? 'bg-warning' : ''}">
						<div class="card-header">
							<div class="row">
								<div class="col">
									<b>Your primary address</b>
									
									<th:block th:if="${usePrimaryAddressAsDefault}">
										<span class="text-danger">[Default]</span>
									</th:block>
									
									<th:block th:unless="${usePrimaryAddressAsDefault}">
										<a th:href="@{'/address/default/0'}">
											[Set as default]
										</a>
									</th:block>
								</div>
								<div class="col">
									<div class="float-right">
										<a class="fas fa-edit"
											th:href="@{/account_details(redirect=address_book)}"></a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="card-body">
							[[${customer.getFullAddress}]]
						</div>
					</div>
				</div>
				
				<th:block th:each="address, status : ${listAddresses}">
				<div class="col-6">
					<div class="card"
						th:classappend="${address.isDefaultForShipping ? 'bg-warning' : ''}">
						<div class="card-header">
							<div class="row">
								<div class="col">
									<b>Address #[[${status.count + 1}]]</b>
									
									<th:block th:if="${address.defaultForShipping}">
										<span class="text-danger">[Default]</span>
									</th:block>
									
									<th:block th:unless="${address.defaultForShipping}">
										<a th:href="@{'/address/default/' + ${address.id}}">
											[Set as default]
										</a>
									</th:block>
								</div>
								<div class="col">
									<div class="float-right">
										<a class="fas fa-edit icon-dark" title="Edit this address"
											th:href="@{'/address/edit/' + ${address.id}}"></a>
										&nbsp;
										<a class="fas fa-trash icon-dark link-delete" title="Delete this address"
											th:entityId="${address.id}"
											th:href="@{'/address/delete/' + ${address.id}}"></a>									
									</div>
								</div>	
							</div>
						</div>
						
						<div class="card-body">
							[[${address}]]
						</div>
					</div>
				</div>
				</th:block>
			</div>
		</div>
	</form>
	
	<div th:replace="fragments :: modal_dialog"></div>
	<div th:replace="fragments :: confirm_modal"></div>
			
	<!-- Footer -->
	<footer th:replace="fragments_front :: footer_customer"></footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<div th:replace="fragments_front :: js_files_footer"></div>
	
	<script type="text/javascript">

		contextPath = "[[@{/}]]";
	
		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";
		
		
	</script>
	
	<script type="text/javascript">
		moduleURL = "[[@{/address}]]";
	
		$(document).ready(function() {
			$('.link-delete').on("click", function(e) {
				e.preventDefault();
				showDeleteConfirmModal($(this), 'address');
			})
		});

		function showDeleteConfirmModal(link, entityName) {
			entityId = link.attr("entityId");
			
			$("#yes-delete").attr("href", link.attr("href"));	
			$("#confirmText").text("Are you sure you want to delete this "
									 + entityName + " ID " + entityId + "?");
			$("#confirmModal").modal();	
		}
	</script>
</body>
</html>