<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Rubik Admin Control Panel')">
</head>
<body>
<div class="container-fluid">
	<div th:replace="fragments :: menu"></div>
	
	<div th:replace="fragments :: export('/brands', ${title})"></div>
	
	<div th:replace="fragments :: search_form('/brands/page/1')"></div>
		
	<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
	</div>
		
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th th:replace="fragments :: column_link('/brands', 'id', 'Brand ID')" class="hideable-column"/>
					<th>Logo</th>
					<th th:replace="fragments :: column_link('/brands', 'name', 'Brand Name')"/>
					<th>Categories</th>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="brand : ${listBrands}">
					<td class="hideable-column">[[${brand.id}]]</td>
					<td th:replace="fragments :: column_link_image(${brand.getLogoPath}, ${brand.logo})"></td>
					<td>[[${brand.name}]]</td>
					<td>
						<th:block th:each="cat : ${brand.categories}">
						<span class="badge badge-secondary" th:text="${cat.name}"></span>
						</th:block>
					</td>

					<td>
						<div th:replace="fragments :: delete_edit('/brands/', ${brand.id})"></div>					
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
	
	<div th:replace="fragments :: confirm_modal"></div>
	
	<div th:replace="fragments :: pagination('/brands', 'brands')"></div>
		
	<div th:replace="fragments :: footer_frag"></div>
	
</div>
	
<script type="text/javascript">
	$(document).ready(function() {
		$('.link-delete-user').on("click", function(e) {
			e.preventDefault();
			link = $(this);
			//alert($(this).attr("href"));
			userId = link.attr("userId");
			$('#yes-delete').attr("href", link.attr("href"));
			$('#confirmText').text("Are you sure that you want to delete user ID " +userId + "?");
			$('#confirmModal').modal();
			
		})
	});

	function clearFilter(){
		window.location = "[[@{/users}]]";
	}
</script>
</body>
</html>