<div th:fragment="nav_head">
	<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo mr-5" href="index.html">
        	<img th:src="@{/images/ShopmeadminSmall.png}" class="mr-2" alt="logo"/>
        </a>
        <a class="navbar-brand brand-logo-mini" href="index.html">
        	<img th:src="@{/images/ShopmeadminSmall.png}" alt="logo"/>
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-start">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="fas fa-bars"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
          <li class="nav-item nav-search d-none d-lg-block">
            <div class="input-group">
              <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
              </div>
              <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search">
            </div>
          </li>
        </ul>
        
        <ul class="navbar-nav navbar-nav-right">
        	<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" data-toggle="dropdown"
					sec:authentication="principal.fullname"
					th:href="@{/account/}">
				</a>
						
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{'/logout'}" id="logoutLink">Logout</a>
				</div>
			</li>
        </ul>
        
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
</div>


<nav th:fragment="nav_left" class="sidebar sidebar-offcanvas"
	id="sidebar">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" th:href="@{/users}"
				sec:authorize="hasAuthority('Admin')">Users
			</a>
		</li>

		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
			<li class="nav-item">
				<a class="nav-link"
					th:href="@{/categories}">Categories
				</a>
			</li>
		</th:block>

		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/brands}">Brands</a>
			</li>
		</th:block>

		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Editor', 'Shipper')">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/products}">Products</a>
			</li>
		</th:block>

		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
			<li class="nav-item"><a class="nav-link" th:href="@{/customers}">Customers
			</a></li>
		</th:block>

		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/shipping}">Shipping</a>
			</li>
		</th:block>

		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/orders}">Orders</a>
			</li>
		</th:block>

		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
			<li class="nav-item">
				<a class="nav-link" th:href="@{/report}">Sales Report</a>
			</li>
		</th:block>

		<li class="nav-item">
			<a class="nav-link" th:href="@{/articles}">Articles</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" th:href="@{/menus}"
				sec:authorize="hasAuthority('Admin')">Menus
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link" th:href="@{/settings}"
				sec:authorize="hasAuthority('Admin')">Settings
			</a>
		</li>

		<li class="nav-item">
			<span class="fas fa-user fa-2x icon-white"></span>
		</li>
	</ul>
</nav>

<div th:fragment="side_bar" class="skin-base animate">

    <div class="sidebar">
      <div class="sidebar-header">
        <a href="#" class="sidebar-logo"><span></span></a>
        <a href="#" class="sidebar-logo-text">dash<span>nav</span></a>
      </div><!-- sidebar-header -->
      <div class="sidebar-search">
        <div class="search-body">
          <i data-feather="search"></i>
          <input type="text" class="form-control" placeholder="Search...">
        </div><!-- search-body -->
      </div><!-- sidebar-search -->
      <div class="sidebar-body">
        <nav class="nav-sidebar">
          <a href="" class="nav-link active"><i data-feather="package"></i><span>Dashboard</span></a>
          <a href="" class="nav-link"><i data-feather="monitor"></i><span>Site Analytics</span></a>
          <a href="" class="nav-link"><i data-feather="shopping-bag"></i><span>Sales Monitoring</span></a>
          <a href="" class="nav-link"><i data-feather="file-text"></i><span>Documents</span></a>
          <a href="" class="nav-link"><i data-feather="calendar"></i><span>Calendar</span></a>
          <a href="" class="nav-link"><i data-feather="briefcase"></i><span>Customers</span></a>
        </nav>

        <hr>

        <nav class="nav-sidebar">
          <a href="" class="nav-link"><i data-feather="users"></i><span>Manage Accounts</span></a>
          <a href="" class="nav-link"><i data-feather="package"></i><span>Resources</span></a>
          <a href="" class="nav-link"><i data-feather="file-text"></i><span>Documents</span></a>
        </nav>

        <hr>

        <nav class="nav-sidebar">
          <a href="" class="nav-link"><i data-feather="activity"></i><span>Activity Logs</span></a>
          <a href="" class="nav-link"><i data-feather="settings"></i><span>Preferences</span></a>
          <a href="" class="nav-link"><i data-feather="help-circle"></i><span>Help &amp; Support</span></a>
          <a href="" class="nav-link"><i data-feather="edit-3"></i><span>Give Feedback</span></a>
        </nav>
      </div><!-- sidebar-body -->
      <div class="sidebar-footer">
        <a href="" class="avatar online"><span class="avatar-initial">s</span></a>
        <div class="avatar-body">
          <div class="d-flex align-items-center justify-content-between">
            <h6>Samantha Doe</h6>
            <a href="" class="footer-menu"><i class="ri-settings-4-line"></i></a>
          </div>
          <span>Superuser/Administrator</span>
        </div><!-- avatar-body -->
      </div><!-- sidebar-footer -->
    </div><!-- sidebar -->

    <div class="content">
      <div class="content-header">
        <a id="contentMenu" href="#" class="content-menu d-none d-lg-flex"><i data-feather="menu"></i></a>
        <a id="mobileMenu" href="#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
      </div><!-- content-header -->
      <div class="content-body">
        <label class="content-label">Navigation Skins</label>
        <nav id="navigationSkins" class="nav">
          <a href="" data-skin="base" class="nav-link active">Base</a>
          <a href="" data-skin="blue" class="nav-link">Blue/White</a>
          <a href="" data-skin="dark" class="nav-link">Dark</a>
          <a href="" data-skin="red" class="nav-link">Red/Dark</a>
          <a href="" data-skin="indigo" class="nav-link">White/Indigo</a>
          <a href="" data-skin="gradient" class="nav-link">White/Gradient</a>
        </nav>

        <br>

        <label class="content-label">Navigation Styles</label>
        <nav id="navigationStyles" class="nav">
          <a href="" data-style="base" class="nav-link active">Base</a>
          <a href="" data-style="one" class="nav-link">Style 01</a>
          <a href="" data-style="two" class="nav-link">Style 02</a>
          <a href="" data-style="three" class="nav-link">Style 03</a>
        </nav>

        <br>

        <label class="content-label">Navigation Variants</label>
        <nav class="nav">
          <a href="index.html" class="nav-link active">One Level</a>
          <a href="submenu.html" class="nav-link">Sub Menu</a>
          <a href="groupmenu.html" class="nav-link">Group Menu</a>
        </nav>
      </div><!-- content-body -->
    </div><!-- content -->
  </div>