<div th:fragment="side_bar" class="sidebar">
	<div class="sidebar-header">
        <a href="#" class="sidebar-logo"><span></span></a>
        <a th:href="@{/}" class="sidebar-logo-text">RubikShop</a>
    </div><!-- sidebar-header -->
      <div class="sidebar-search">
        <div class="search-body">
          	<i data-feather="search"></i>
          	<input type="text" class="form-control" placeholder="Search...">
        </div><!-- search-body -->
      </div><!-- sidebar-search -->
      <div class="sidebar-body">
        <nav class="nav-sidebar">
        	<a class="nav-link" th:href="@{/users}"
				sec:authorize="hasAuthority('Admin')"
				onclick="change_users()">
					<i data-feather="users"></i>
          		<span>Users</span>
			</a>
			
			<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	         	<a th:href="@{/categories}" class="nav-link"
	          		onclick="change_categories()">
	          		<i data-feather="monitor"></i>
	          		<span>Categories</span>
	          	</a>
	        </th:block>
          		
          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	          	<a th:href="@{/brands}" class="nav-link"
	          		onclick="change_brands()">
	          		<i data-feather="archive"></i>
	          		<span>Brands</span>
	          	</a>
          	</th:block>
          		
          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Editor', 'Shipper')">
	          	<a th:href="@{/products}" class="nav-link"
	          		onclick="change_products()">
	         		<i data-feather="shopping-bag"></i>
	          		<span>Products</span>
	          	</a>
          	</th:block>
          		
          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	          	<a th:href="@{/customers}" class="nav-link">
	          		<i data-feather="smile"></i>
	          		<span>Customers</span>
	          	</a>
          	</th:block>
          		
          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	          	<a th:href="@{/shipping}" class="nav-link">
	          		<i data-feather="truck"></i>
	          		<span>Shipping</span>
	          	</a>
          	</th:block>
          		
          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	          	<a th:href="@{/orders}" class="nav-link">
	          		<i data-feather="inbox"></i>
	          		<span>Orders</span>
	          	</a>
          	</th:block>
          		
          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
	          	<a th:href="@{/report}" class="nav-link">
	          		<i data-feather="heart"></i>
	          		<span>Sales Report</span>
	          	</a>
          	</th:block>
        </nav>

        <hr>

        <nav class="nav-sidebar">
          	<a href="" class="nav-link"
          		onclick="change_account();">
          		<i data-feather="users"></i>
          		<span>Manage Accounts</span>
          	</a>
          	<a href="" class="nav-link"><i data-feather="package"></i><span>Menus</span></a>
          	<a href="" class="nav-link"><i data-feather="file-text"></i><span>Setting</span></a>
        </nav>

        <hr>

        <nav class="nav-sidebar">
          	<a href="" class="nav-link"><i data-feather="activity"></i><span>Activity Logs</span></a>
          	<a href="" class="nav-link"><i data-feather="settings"></i><span>Preferences</span></a>
          	<a href="" class="nav-link"><i data-feather="help-circle"></i><span>Help &amp; Support</span></a>
          	<a href="" class="nav-link"><i data-feather="edit-3"></i><span>Give Feedback</span></a>
        </nav>
        
	</div><!-- sidebar-body -->
      	
	<div class="sidebar-footer">
        <a href="" class="avatar online"><span class="avatar-initial">D</span></a>
        <div class="avatar-body">
          	<div class="d-flex align-items-center justify-content-between">
            	<h6 sec:authentication="principal.fullname"></h6>
            	<a href="" class="footer-menu"><i class="ri-settings-4-line"></i></a>
          	</div>
			<span sec:authentication="principal.authorities"></span>
		</div><!-- avatar-body -->
	</div><!-- sidebar-footer -->
</div><!-- sidebar -->
   	
   	
  
  
<!-- Content header -->
<div th:fragment="content_header" id="ct_header" class="content-header">
	<form th:action="@{/logout}" method="post" th:hidden="true"
		name="logoutForm">
		<input type="submit"/>
	</form>
	<nav class="navbar col-lg-12 col-12">
		<a id="contentMenu" href="#" class="content-menu d-none d-lg-flex mr-5"><i data-feather="menu"></i></a>
	    <a id="mobileMenu" href="#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
	    <p class="h3 mr-auto">[[${title}]]</p>    	
	    <div class="navbar-menu-wrapper">
	    	
	        <ul class="navbar-nav">
	        	<li class="nav-item dropdown">
					<div data-dropdown-wrapper>
						<button data-dropdown-trigger="trigger"
							id="menu-button"
							class="h7"
							sec:authentication="principal.fullname">
						</button>
						<div data-dropdown-menu>
							<a th:href="@{'/logout'}" id="logoutLink"
								role="menu"
								tabindex="-1">Logout</a>
							<a href=""
								role="menu"
								tabindex="-1">Manage Account</a>
						</div>
					</div>
				</li>
	        </ul>
		</div>
	</nav>
</div><!-- content-header -->
<!-- Content header -->


<!-- js file -->
<div th:fragment="js_file">
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
	<script type="text/javascript"
		th:src="@{/dashboard/lib/feathericons/feather.min.js}">
	</script>
	
	<script type="text/javascript"
		th:src="@{/dashboard/lib/perfect-scrollbar/perfect-scrollbar.min.js}">
	</script>

	<script type="text/javascript"
		th:src="@{/dashboard/assets/js/script.js}">
	</script>
	<script type="text/javascript"
		th:src="@{/js/template.js}">
	</script>

	<script type="text/javascript"
		th:src="@{/dropdown/src/js/main.js}">
	</script>
	
	<script type="text/javascript"
		th:src="@{/dropdown/src/js/dropdown.js}">
	</script>
	
	<script type="text/javascript">
		function change_users() {
			window.location = "[[@{/users}]]";
		}

		function change_categories() {
			window.location = "[[@{/categories}]]";
		}

		function change_products() {
			window.location = "[[@{/products}]]";
		}

		function change_brands() {
			window.location = "[[@{/brands}]]";
		}

		function change_customers() {
			window.location = "[[@{/customers}]]";
		}

		function change_shipping() {
			window.location = "[[@{/shipping}]]";
		}

		function change_orders() {
			window.location = "[[@{/orders}]]";
		}

		function change_customers() {
			window.location = "[[@{/customers}]]";
		}

		function change_admin() {
			window.location = "[[@{/index}]]"
		}

		function change_account() {
			window.location = "[[@{/account}]]"
		}
	</script>
</div>
<!-- js file -->