<div th:fragment="side_bar" class="sidebar">
	<div class="sidebar-header">
        <a href="#" class="sidebar-logo"><span></span></a>
        <a th:href="@{/}" class="sidebar-logo-text">RubikShop</a>
    </div><!-- sidebar-header -->
    
      <div class="sidebar-search">
        <div class="search-body">
          	<i data-feather="search"></i>
          	<input type="text" class="form-control" placeholder="Search...">
        </div><!-- search-body -->
      </div><!-- sidebar-search -->
      
      <div class="sidebar-body pt-3">
		<div class="nav-group show">
        	<div class="nav-group-label">Management</div>
	        <ul class="nav-sidebar">
	        	<li class="nav-item">
	        		<a class="nav-link with-sub" href=""
						sec:authorize="hasAuthority('Admin')">
						<i data-feather="users"></i>
		          		<span>Users</span>
					</a>
					
					<nav class="nav-sub">
		                <a th:href="@{'/users'}" class="sub-link"
		                	onclick="change_users_detail()">Details</a>
		                <a th:href="@{'/users/new'}" class="sub-link"
		                	onclick="change_users_new()">New User</a>
		       		</nav>
	        	</li>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li class="nav-item">
			         	<a href="" class="nav-link with-sub">
			          		<i data-feather="monitor"></i>
			          		<span>Categories</span>
			          	</a>
			          	
			          	<nav class="nav-sub">
			                <a th:href="@{'/categories'}" class="sub-link"
			                	onclick="change_categories_detail()">Details</a>
			                <a th:href="@{'/categories/new'}" class="sub-link"
			                	onclick="change_categories_new()">New Categories</a>
			       		</nav>
		          	</li>
		        </th:block>
	          		
	          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	          		<li class="nav-item">
			          	<a href="" class="nav-link with-sub">
			          		<i data-feather="archive"></i>
			          		<span>Brands</span>
			          	</a>
			          	
			          	<nav class="nav-sub">
			                <a th:href="@{'/brands'}" class="sub-link"
			                	onclick="change_brands_detail()">Details</a>
			                <a th:href="@{'/brands/new'}" class="sub-link"
			                	onclick="change_brands_new()">New Brands</a>
			       		</nav>
		          	</li>
	          	</th:block>
	          		
	          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson', 'Editor', 'Shipper')">
	          		<li class="nav-item">
			          	<a href="" class="nav-link with-sub">
			         		<i data-feather="shopping-bag"></i>
			          		<span>Products</span>
			          	</a>
			          	
			          	<nav class="nav-sub">
			                <a th:href="@{'/products'}" class="sub-link"
			                	onclick="change_products_detail()">Details</a>
			                <a th:href="@{'/products/new'}" class="sub-link"
			                	onclick="change_products_new()">New Products</a>
			       		</nav>
		          	</li>
	          	</th:block>
	          		
	          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	          		<li class="nav-item">
			          	<a href="" class="nav-link with-sub">
			          		<i data-feather="smile"></i>
			          		<span>Customers</span>
			          	</a>
		          	</li>
	          	</th:block>
	          		
	          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	          		<li class="nav-item">
			          	<a href="" class="nav-link with-sub">
			          		<i data-feather="truck"></i>
			          		<span>Shipping</span>
			          	</a>
		          	</li>
	          	</th:block>
	          		
	          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
	          		<li class="nav-item">
			          	<a th:href="@{/orders}" class="nav-link with-sub">
			          		<i data-feather="inbox"></i>
			          		<span>Orders</span>
			          	</a>
		          	</li>
	          	</th:block>
	          		
	          	<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
	          		<li class="nav-item">
			          	<a class="nav-link with-sub">
			          		<i data-feather="heart"></i>
			          		<span>Sales Report</span>
			          	</a>
		          	</li>
	          	</th:block>
	        </ul>
		</div>
		
		<div class="nav-group">
       		<div class="nav-group-label">Accounts &amp; Settings</div>
       		
	        <ul class="nav-sidebar">
	        	<li class="nav-item">
		          	<a href="" class="nav-link with-sub"
		          		onclick="change_account();">
		          		<i data-feather="user"></i>
		          		<span>Manage Accounts</span>
		          	</a>
	          	</li>
	          	
	          	<li class="nav-item">
	          		<a href="" class="nav-link with-sub"><i data-feather="settings">
	          			</i><span>Setting</span>
	          		</a>
	          	</li>
	          	
	          	<li class="nav-item">
	          		<a href="" class="nav-link with-sub"
	          			id="logoutLink"
	          			onclick="change_logout();">
	          			<i data-feather="log-out"></i>
	          			<span>Logout</span>
	          		</a>
	          	</li>
	          	
	        </ul>
	   	</div>
        
	</div><!-- sidebar-body -->
      	
	<div class="sidebar-footer">
        <a href="" class="avatar online"><span class="avatar-initial">D</span></a>
        <div class="avatar-body">
          	<div class="d-flex align-items-center justify-content-between">
            	<h6 sec:authentication="principal.fullname"></h6>
            	<a href="" class="footer-menu"><i class="ri-settings-4-line"></i></a>
          	</div>
			<span sec:authentication="principal.authorities"></span>
		</div><!-- avatar-body -->
	</div><!-- sidebar-footer -->
</div><!-- sidebar -->
   	
   	
  
  
<!-- Content header -->
<div th:fragment="content_header" id="ct_header" class="content-header">
	<form th:action="@{/logout}" method="post" th:hidden="true"
		name="logoutForm">
		<input type="submit"/>
	</form>
	<nav class="navbar col-lg-12 col-12">
		<a id="contentMenu" href="#" class="content-menu d-none d-lg-flex mr-5"><i data-feather="menu"></i></a>
	    <a id="mobileMenu" href="#" class="content-menu d-lg-none"><i data-feather="menu"></i></a>
	    <a class="h3 mr-auto"
	    	th:href="@{${headerTitle}}">[[${title}]]</a>    	
	    <div class="navbar-menu-wrapper">
	    	
	        <ul class="navbar-nav">
	        	<li class="nav-item dropdown">
					<div data-dropdown-wrapper>
						<button data-dropdown-trigger="trigger"
							id="menu-button"
							class="h7"
							sec:authentication="principal.fullname">
						</button>
						<div data-dropdown-menu>
							<a th:href="@{/logout}"
								role="menu"
								tabindex="-1"
								id="logoutLink">Logout
							</a>
							<a th:href="@{/account/}"
								role="menu"
								tabindex="-1">Manage Account
							</a>
						</div>
					</div>
				</li>
	        </ul>
		</div>
	</nav>
</div><!-- content-header -->
<!-- Content header -->


<div th:fragment="footer_frag">
	<footer class="footer_area section_padding_130_0">
      <div class="container">
        <div class="row">
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg-4">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Footer Logo-->
              <div class="footer-logo mb-3"></div>
              <p>Appland is completely creative, lightweight, clean app landing page.</p>
              <!-- Copywrite Text-->
              <div class="copywrite-text mb-5">
                <p class="mb-0">Made with <i class="lni-heart mr-1"></i>by<a class="ml-1" href="https://wrapbootstrap.com/user/DesigningWorld">Designing World</a></p>
              </div>
              <!-- Footer Social Area-->
              <div class="footer_social_area"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
              	<i class="fab fa-facebook"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
              	<i class="fab fa-pinterest"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
              	<i class="fab fa-skype"></i></a><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
              	<i class="fab fa-twitter"></i></a></div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">About</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Corporate Sale</a></li>
                  <li><a href="#">Terms &amp; Policy</a></li>
                  <li><a href="#">Community</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Support</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Help</a></li>
                  <li><a href="#">Support</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Term &amp; Conditions</a></li>
                  <li><a href="#">Help &amp; Support</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Single Widget-->
          <div class="col-12 col-sm-6 col-lg">
            <div class="single-footer-widget section_padding_0_130">
              <!-- Widget Title-->
              <h5 class="widget-title">Contact</h5>
              <!-- Footer Menu-->
              <div class="footer_menu">
                <ul>
                  <li><a href="#">Call Centre</a></li>
                  <li><a href="#">Email Us</a></li>
                  <li><a href="#">Term &amp; Conditions</a></li>
                  <li><a href="#">Help Center</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
</div>


<!-- js file -->
<div th:fragment="js_file">
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
	
	<script type="text/javascript"
		th:src="@{/dashboard/lib/feathericons/feather.min.js}">
	</script>
	
	<script type="text/javascript"
		th:src="@{/dashboard/lib/perfect-scrollbar/perfect-scrollbar.min.js}">
	</script>

	<script type="text/javascript"
		th:src="@{/dashboard/assets/js/script.js}">
	</script>
	<script type="text/javascript"
		th:src="@{/js/template.js}">
	</script>

	<script type="text/javascript"
		th:src="@{/dropdown/src/js/main.js}">
	</script>
	
	<script type="text/javascript"
		th:src="@{/dropdown/src/js/dropdown.js}">
	</script>
	
	<script type="text/javascript">
		function change_users_detail() {
			window.location = "[[@{/users}]]";
		}

		function change_users_new() {
			window.location = "[[@{/users/new}]]";
		}

		function change_categories_detail() {
			window.location = "[[@{/categories}]]";
		}

		function change_categories_new() {
			window.location = "[[@{/categories/new}]]";
		}

		function change_products_detail() {
			window.location = "[[@{/products}]]";
		}

		function change_products_new() {
			window.location = "[[@{/products/new}]]";
		}

		function change_brands_detail() {
			window.location = "[[@{/brands}]]";
		}

		function change_brands_new() {
			window.location = "[[@{/brands/new}]]";
		}

		function change_customers() {
			window.location = "[[@{/customers}]]";
		}

		function change_shipping() {
			window.location = "[[@{/shipping}]]";
		}

		function change_orders() {
			window.location = "[[@{/orders}]]";
		}

		function change_customers() {
			window.location = "[[@{/customers}]]";
		}

		function change_admin() {
			window.location = "[[@{/index}]]"
		}

		function change_account() {
			window.location = "[[@{/account}]]"
		}

		function change_logout() {
			window.location = "[[@{/logout}]]"
		}
			
	</script>
</div>
<!-- js file -->