<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css"
	th:href="@{/dropdown/dist/css/main.css}">

</head>

<body class="text-gray-800">
		<div class="p-16 pb-32 flex">
			<!-- wrapper  -->
			<div data-dropdown-wrapper=""
				class="relative inline-block text-left mx-auto">
				<div>
					<button data-dropdown-trigger="trigger" type="button"
						class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
						id="menu-button" aria-expanded="true" aria-haspopup="true">
						Example
						<!-- Heroicon name: solid/chevron-down -->
					</button>
				</div>
				<div data-dropdown-menu="" style="opacity: 0"
					class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none"
					role="menu" aria-orientation="vertical"
					aria-labelledby="menu-button" tabindex="-1">
					<div class="py-1" role="none">
						<!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
						<a href="#"
							class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100"
							role="menuitem" tabindex="-1" id="menu-item-0">Account
							settings</a> <a href="#"
							class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100"
							role="menuitem" tabindex="-1" id="menu-item-1">Support</a> <a
							href="#"
							class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100"
							role="menuitem" tabindex="-1" id="menu-item-2">License</a>
						<form method="POST" action="#" role="none">
							<button type="submit"
								class="text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-red-100"
								role="menuitem" tabindex="-1" id="menu-item-3">Sign out
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	<script th:src="@{/webjars/jquery/jquery.slim.min.js}"></script>
	<script type="text/javascript"
		th:src="@{/dropdown/dist/js/dropdown.min.js}">
	</script>
	
	<script type="text/javascript"
		th:src="@{/dropdown/src/js/main.js}">
	</script>

</body>
</html>
