<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Rubik Shop')">
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments :: menu"></div>
		<div>
			<h1>Rubik Control Panel</h1>
			Welcome
			<a sec:authentication="principal.fullname"
				th:href="@{/account/}">
			</a>
			&nbsp;
			<span sec:authentication="principal.authorities"></span>
		</div>
		<div th:replace="fragments :: footer_frag"></div>
	</div>
	
	<script type="text/javascript">
		
	</script>
</body>
</html>