<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Rubik Shop', 'none')">
</head>

<body class="skin-red animate">
	<div th:replace="front_fragments :: side_bar"></div>

    <div class="content">
      	<div th:replace="front_fragments :: content_header"></div>
   		
		<div class="content-body">
			
			<th:block sec:authorize="hasAuthority('Admin')">
			<div class="row mt-4 mx-5">
			    <div class="col-lg-3">
			      <div class="circle-tile">
			        <a href="#">
			        	<div class="circle-tile-heading dark-blue">
			        		<i class="fa fa-users fa-fw fa-3x"></i>
			        	</div>
			        </a>
			        
			        <div class="circle-tile-content dark-blue">
			          <div class="circle-tile-description text-faded">Total Users</div>
			          <div class="circle-tile-number text-faded ">
			          	[[${totalUsers}]]
			          </div>
			          <a class="circle-tile-footer" th:href="@{'/users'}">More Info 
			          	<i class="fa fa-chevron-circle-right"></i>
			          </a>
			        </div>
			      </div>
			    </div>
     
			    <div class="col-lg-3">
			      <div class="circle-tile ">
			        <a href="#">
			        	<div class="circle-tile-heading green">
			        		<i class="fas fa-gem fa-fw fa-3x mt-3"></i>
			        	</div>
			        </a>
			        
			        <div class="circle-tile-content green">
			          <div class="circle-tile-description text-faded">Total Categories</div>
			          <div class="circle-tile-number text-faded ">
			          	[[${totalCategories}]]
			          </div>
			          <a class="circle-tile-footer" th:href="@{'/categories'}">More Info 
			          	<i class="fa fa-chevron-circle-right"></i>
			          </a>
			        </div>
			      </div>
			    </div> 
     
			    <div class="col-lg-3">
			      <div class="circle-tile ">
			        <a href="#">
			        	<div class="circle-tile-heading red">
			        		<i class="fas fa-store fa-fw mt-3 fa-3x text-white"></i>
			        	</div>
			        </a>
			        <div class="circle-tile-content red">
			          <div class="circle-tile-description text-faded">Total Brands</div>
			          <div class="circle-tile-number text-faded ">
			          	[[${totalBrands}]]
			          </div>
			          <a class="circle-tile-footer" th:href="@{'/brands'}">More Info <i class="fa fa-chevron-circle-right"></i></a>
			        </div>
			      </div>
			    </div> 
     
			    <div class="col-lg-3">
			      <div class="circle-tile ">
			        <a href="#">
			        	<div class="circle-tile-heading yellow">
			        		<i class="fab fa-shopify fa-fw fa-3x mt-3 text-white"></i>
			        	</div>
			        </a>
			        <div class="circle-tile-content yellow">
			          <div class="circle-tile-description text-faded">Total Products</div>
			          <div class="circle-tile-number text-faded ">
			          	[[${totalProducts}]]
			          </div>
			          <a class="circle-tile-footer" th:href="@{'/products'}">More Info <i class="fa fa-chevron-circle-right"></i></a>
			        </div>
			      </div>
			    </div> 
			</div> 
			</th:block>
			
			<!-- Salesperson -->
			<th:block sec:authorize="hasAuthority('Salesperson')">
			<div class="row mt-4 mx-5">
			    <div class="col-lg-4">
			      <div class="circle-tile">
			        <a href="#">
			        	<div class="circle-tile-heading dark-blue">
			        		<i class="fab fa-shopify fa-fw fa-3x mt-3 text-white"></i>
			        	</div>
			        </a>
			        
			        <div class="circle-tile-content dark-blue">
			          <div class="circle-tile-description text-faded">Total Products</div>
			          <div class="circle-tile-number text-faded ">
			          	[[${totalProducts}]]
			          </div>
			          <a class="circle-tile-footer" th:href="@{'/products'}">More Info 
			          	<i class="fa fa-chevron-circle-right"></i>
			          </a>
			        </div>
			      </div>
			    </div>
     
			    <div class="col-lg-4">
			      <div class="circle-tile ">
			        <a href="#">
			        	<div class="circle-tile-heading green">
			        		<i class="fas fa-gem fa-fw fa-3x mt-3"></i>
			        	</div>
			        </a>
			        
			        <div class="circle-tile-content green">
			          <div class="circle-tile-description text-faded">Total Orders</div>
			          <div class="circle-tile-number text-faded ">
			          	[[${totalOrders}]]
			          </div>
			          <a class="circle-tile-footer" th:href="@{'/orders'}">More Info 
			          	<i class="fa fa-chevron-circle-right"></i>
			          </a>
			        </div>
			      </div>
			    </div> 
     
			    <div class="col-lg-4">
			      <div class="circle-tile ">
			        <a href="#">
			        	<div class="circle-tile-heading red">
			        		<i class="fas fa-store fa-fw mt-3 fa-3x text-white"></i>
			        	</div>
			        </a>
			        
			        <div class="circle-tile-content red">
			          <div class="circle-tile-description">
			          	<p class="text-faded" sec:authentication="principal.fullname"></p>
			          </div>
			          <div class="circle-tile-number">	          	
			          	<span class="text-faded" sec:authentication="principal.authorities"></span>
			          </div>
			          <a class="circle-tile-footer" th:href="@{/account}">More Info <i class="fa fa-chevron-circle-right"></i></a>
			        </div>
			      </div>
			    </div> 
			</div> 
			</th:block>
			
			<div class="row mx-5 my-5">
				<div class="col">
					<img class="img-fluid"
						th:src="@{'/images/background/dashboard/background-dashboard-1.jpg'}"/>
				</div>
			</div>
			
			<th:block sec:authorize="hasAuthority('Admin')">
			<div class="row mt-5 mx-5">
		      
		      <div class="col-xl-4 col-sm-6 col-12">
		        <div class="card">
		          <div class="card-content">
		            <div class="card-body">
		              <div class="media d-flex">
		                <div class="align-self-center">
		                  <i class="far fa-keyboard font-large-2 float-left"></i>
		                </div>
		                <div class="media-body text-right">
		                  <h3>[[${totalReviews}]]</h3>
		                  <span>Reviews</span>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		      
		      <div class="col-xl-4 col-sm-6 col-12">
		        <div class="card">
		          <div class="card-content">
		            <div class="card-body">
		              <div class="media d-flex">
		                <div class="align-self-center">
		                  <i class="fal fa-percent success font-large-2 float-left"></i>
		                </div>
		                <div class="media-body text-right">
		                  <h3>[[${totalOrders}]]</h3>
		                  <span>Orders</span>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		      
		      <div class="col-xl-4 col-sm-6 col-12">
		        <div class="card">
		          <div class="card-content">
		            <div class="card-body">
		              <div class="media d-flex">
		                <div class="align-self-center">
		                  <i class="fas fa-street-view danger font-large-2 float-left"></i>
		                </div>
		                <div class="media-body text-right">
		                  <h3>[[${totalCustomers}]]</h3>
		                  <span>Total Visits</span>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		    </th:block>
		    
		    <th:block sec:authorize="hasAuthority('Admin')">
		    <div class="row mt-5 mx-5">
			    <div class="col-xl-6 col-md-12">
			      <div class="card overflow-hidden">
			        <div class="card-content">
			          <div class="card-body cleartfix">
			            <div class="media align-items-stretch">
			              <div class="align-self-center">
			                <i class="icon-pencil primary font-large-2 mr-2"></i>
			              </div>
			              <div class="media-body">
			                <h4>Total Money</h4>
			                <span></span>
			              </div>
			              <div class="align-self-center">
			                <h1>[[${totalPrice}]]</h1>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
			
			    <div class="col-xl-6 col-md-12">
			      <div class="card">
			        <div class="card-content">
			          <div class="card-body cleartfix">
			            <div class="media align-items-stretch">
			              <div class="align-self-center">
			                <i class="icon-speech warning font-large-2 mr-2"></i>
			              </div>
			              <div class="media-body">
			                <h4>Total Comments</h4>
			                <span>Monthly blog comments</span>
			              </div>
			              <div class="align-self-center"> 
			                <h1>84,695</h1>
			              </div>
			            </div>
			          </div>
			        </div>
			      </div>
			    </div>
			  </div>
			  </th:block>
		</div><!-- content-body -->
		
		<div th:replace="front_fragments :: footer_final"></div>
		
	</div><!-- content -->
	
    <div th:replace="front_fragments :: js_file"></div>
</body>
</html>