<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Rubik Admin Control Panel', 'none')">
</head>
<body>
	<div class="container-fluid">
		<div th:replace="fragments :: menu"></div>
		
		<div th:replace="fragments :: export('/users', ${title})"></div>
		
		<div th:replace="fragments :: search_form('/users/page/1')"></div>
		
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>
		
		<div class="full-details">
			<table class="table table-responsive-xl table-bordered table-striped table-hover">
				<thead class="thead-dark">
					<tr>
						<!-- use fragment -->
						<th th:replace="fragments :: column_link('/users', 'id', 'User ID')"/>

						<th>Photo</th>
						
						<!-- use fragment -->
						<th th:replace="fragments :: column_link('/users', 'email', 'Email')"/>

						<!-- use fragment -->
						<th th:replace="fragments :: column_link('/users', 'firstName', 'First Name')"/>

						<!-- use fragment -->
						<th th:replace="fragments :: column_link('/users', 'lastName', 'Last Name')"/>

						<th>Roles</th>

						<!-- use fragment -->
						<th th:replace="fragments :: column_link('/users', 'enabled', 'Enabled')"/>

						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td th:replace="fragments :: column_link_image(${user.photosImagePath}, ${user.photos})"></td>
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>
						
						<td>
							<div th:replace="fragments :: status(${user.enabled}, 'user', '/users/' + ${user.id})"></div>
						</td>
						
						<td>
							<div th:replace="fragments :: delete_edit('/users/', ${user.id})"></div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div th:replace="fragments :: pagination('/users', 'users')"></div>
		
		<div th:replace="fragments :: confirm_modal"></div>
		
		<div th:replace="fragments :: footer_frag"></div>
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('.link-delete-user').on("click", function(e) {
				e.preventDefault();
				link = $(this);
				//alert($(this).attr("href"));
				userId = link.attr("userId");
				$('#yes-delete').attr("href", link.attr("href"));
				$('#confirmText').text("Are you sure that you want to delete user ID " +userId + "?");
				$('#confirmModal').modal();
				
			})
		});

		function clearFilter(){
			window.location = "[[@{/users}]]";
		}
	</script>
</body>
</html>